.container{
	height:80%;
}

input{
	min-width: 55%;
	background: #111111;
	border: none;
	outline: none;
}

ul li{
	text-decoration: none;
	list-style: none
}

label.prompt{
	color: rgb(6, 215, 6);
	
}

.terminal.panel{
	max-width: 100%;
	min-width: 50%;
	border-color: #1757c3;
	border-width: 2px;
	position: absolute;
	z-index: 5;
}
.notepad.panel{
	right: 1%;
	top:55px;
	min-height: 70%;
	min-width: 98%;
	border-color: #1757c3;
	border-width: 2px;
	position: absolute;
	margin: 0;
}

.onTop{
	z-index: 10;
}

.closed{
	display: none;
}

.panel.minimized{
	bottom: 5px;
	min-width: 200px;
	min-height: auto;
	top: auto;
	margin: 0;
}

.terminal.panel.minimized{
	left: 2px;
}

.notepad.panel.minimized{
	left: 205px;
	right: auto;;
}

.minimized .panel-body, .minimized .pages{
	display: none;
}


#terminal{
	background-color: #111111;
	overflow-y: scroll;
	height: 250px;
}
.panel-heading{
	background: linear-gradient(#666666, #000000);
	background-image: url('/assets/titlebar-background.jpg');
	height:34px;
	border-color: #1757c3;
	padding: 5px 2px 1px 5px;
}
	.panel-heading .buttons{
		margin-top:-2px;
	}
	.panel-heading .buttons img{
		padding: 1px;
}
.panel-heading .panel-title{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: #ffffff;
}