<div class="container-fluid">
  <div class="shortcuts row col-md-4 col-sm-6 col-xs-10">
      <span class="shortcut-icon col-xs-3"><img src="./assets/about.png" (click)="command('about')"><span>About Me</span></span>
      <span class="shortcut-icon col-xs-3"><img src="./assets/portfolio.png" (click)="command('portfolio')"><span>Portfolio</span></span>
      <span class="shortcut-icon col-xs-3"><img src="./assets/games.png" (click)="command('games')"><span>Games</span></span>
      <span class="shortcut-icon col-xs-3"><img src="./assets/help.png" (click)="command('help')"><span>Help</span></span>
    </div>
</div>
  <label for="query">
    <div movable class="terminal panel panel-default" [ngClass]="{onTop: terminal.onTop, closed: terminal.closed, minimized: terminal.minimized, maximized: terminal.maximized}" (mousedown)="toTop('terminal')">
      <div movableHandle class="panel-heading">
        <h5 class="panel-title"><span class="window-title">C:\System32\cmd.exe</span>
          <span class="buttons pull-right"><img src="./assets/minimize-button.jpg" (click)="minimizeWindow($event, 'terminal')" /><img src="./assets/maximize-button.jpg" (click)="maximizeWindow($event, 'terminal')" /><img src="./assets/close-button.jpg" (click)="closeWindow($event, 'terminal'); false"/></span>
        </h5>
      </div>
        <div class="panel-body" id="terminal">
          <form (ngSubmit)="command(this.inputCommand)">
            <ul class="cmdList">
              <li>(c) Windows [Version 5.1.231]</li>
              <li>Type 'help' to see available commands or click one of the shortcuts above.</li>
              <li *ngFor="let line of cmdLines" [innerHTML]="line | keepHtml"></li> 
              <li>
                <label class="prompt" [hidden]="loading" for="query">{{prompt}}</label>
                <input type="text" id="query" name='query' autocomplete="off" autofocus [(ngModel)]="inputCommand" (keypress)="keyHandler($event)" />
              </li>
            </ul>
          </form>
      </div>
    </div>
  </label>
    <div movable class="notepad panel panel-default" [ngClass]="{onTop: notes.onTop, closed: notes.closed, minimized: notes.minimized, maximized: notes.maximized}" (mousedown)="toTop('notes')">
      <div movableHandle class="panel-heading">
        <h5 class="panel-title"><span class="window-title"><img src="./assets/notepad.png" class="notepad-icon">{{filename}}<span *ngIf="filename">.txt - </span>Notepad</span>
          <span class="buttons pull-right"><img src="./assets/minimize-button.jpg" (click)="minimizeWindow($event, 'notes')" /><img src="./assets/maximize-button.jpg" (click)="maximizeWindow($event, 'notes')" /><img src="./assets/close-button.jpg" (click)="closeWindow($event, 'notes')"/></span>
        </h5>
      </div>
      <div class="file-menu">
        <span class="file-menu-item">File</span>
        <span class="file-menu-item">Edit</span>
        <span class="file-menu-item">Format</span>
        <span class="file-menu-item">View</span>
        <span class="file-menu-item">Help</span>
      </div>
      <div class="notes">
        <p class="log" *ngIf="log" [innerHtml]="log"></p>
        <app-note *ngFor="let note of notesData" [note]="note"></app-note>
        <app-bando *ngFor="let bando of bandoData" [bando]="bando"></app-bando>
      </div>
    </div>
    <span class="resume-shortcut shortcuts shortcut-icon col-xs-3"><a href="https://drive.google.com/open?id=1IcHAWXBK4AHsAP7S96f2qWCz3pMK25u-"><img src="./assets/pdf-icon.png" ><span>My Resume.pdf</span></a></span>
