.container{
	height:80%;
}

.shortcuts img{
	margin: .75em;
	width: 35px;
	height: auto;
}

.panel{
	margin-bottom: 0;
	box-shadow:0 3px 10px 2px #111111;
	resize: both;
	overflow: auto;
}
input{
	min-width: 55%;
	background: #111111;
	border: none;
	outline: none;
}

ul li{
	text-decoration: none;
	list-style: none
}

label.prompt{
	color: rgb(6, 215, 6);
	
}
ul.cmdList{
	padding: 0;
	margin: 0;
}
.terminal.panel{
	max-width: 95%;
	width: 550px;
	left:1%;
	background-color: #111111;
	border-color: #1757c3;
	border-width: 2px;
	position: absolute;
	z-index: 5;
	margin-top:-22px;
	height: 250px;
}
.notepad.panel{
	left: 5%;
	top:75px;
	min-width: 170px;
	width: 90%;
	border-color: #1757c3;
	border-width: 2px;
	position: absolute;
	margin: 0;
	height: 70%;
	max-width: 95%;
}

.file-menu{
	background-color: #f2ebd8;
	color: #c2bba8;
	margin: 0;
	height:20px;
	padding: 3px;
	font-size: .75em;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	border-bottom: 1px solid #c2bba8;
}

.file-menu span{
	margin-left: .65em;
}

.minimized .notes{
	display: none;
}
.notes{
	font-family: Consolas, 'Courier New', monospace;
	height: calc(100% - 62px);
	background-color: #ffffff;
	padding: .75em;
	overflow-y: scroll;
}
.onTop{
	z-index: 10;
}
.notepad-icon{
	height: auto;
	width: 20px;
	margin-right: .5em;
}
.closed{
	display: none;
}

.panel.minimized{
	bottom: 5px!important;
	height:auto!important;
	min-width: 200px;
	min-height: auto;
	top: auto!important;
	margin: 0;
	max-width: 100px;
}
.panel.minimized .window-title{
	width: 80px;
}
.panel.notepad .window-title{
	display:inline-block;
	overflow: hidden;
  white-space: nowrap;
	text-overflow: ellipsis;
	width: calc(100% - 85px);
}

.panel.maximized, .terminal.panel.maximized{
	left:0!important;
	top:0!important;
	width: 100%!important;
	height:100%!important;
	max-width: 100%!important;
	margin: 0;
	padding: 0;
}

.terminal.panel.minimized{
	left: 2px!important;
}

.notepad.panel.maximized .notes{
	height: calc(100% - 54px);
}

.notepad.panel.minimized{
	left: 205px!important;
	right: auto!important;
	height: auto!important;
}

.minimized .panel-body, .minimized .file-menu{
	display: none;
}


#terminal{
	font-family: Consolas, 'Courier New', monospace;
	color: rgb(6, 158, 6);
	overflow-y: scroll;
	height: calc(100% - 44px);
	margin: 0;
	padding: 12px;
}

#terminal::-webkit-scrollbar {
	width: 10px;
}

#terminal::-webkit-scrollbar-track {
	background-color: #111;
}

#terminal::-webkit-scrollbar-thumb {
	background-color: #333; 
} /* this will style the thumb, ignoring the track */

#terminal::-webkit-scrollbar-button {
	background-color: #111;
}

.maximized #terminal{
	height: calc(100% - 34px);
}
.panel-heading{
	background-image: url('/assets/titlebar-background.jpg');
	height:34px;
	border-color: #1757c3;
	padding: 5px 2px 1px 5px;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}
	.panel-heading .buttons{
		margin-top:-2px;
	}
	.panel-heading .buttons img{
		padding: 1px;
}
.panel-heading .panel-title{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color: #ffffff;
}