<span class="shortcuts">
  <img src="/assets/about.png" (click)="command('about')">
  <img src="/assets/portfolio.png" (click)="command('portfolio')">
  <img src="/assets/games.png" (click)="command('games')">
  <img src="/assets/help.png" (click)="command('help')">
</span>
<div class="container">
  <label for="query">
    <div class="terminal panel panel-default" [ngClass]="{onTop: terminal.onTop, closed: terminal.closed, minimized: terminal.minimized, maximized: terminal.maximized}" (click)="toTop('terminal')">
      <div class="panel-heading">
        <h5 class="panel-title">cmd.exe
          <span class="buttons pull-right"><img src="/assets/minimize-button.jpg" (click)="minimizeWindow($event, 'terminal')" /><img src="/assets/maximize-button.jpg" (click)="maximizeWindow($event, 'terminal')" /><img src="/assets/close-button.jpg" (click)="closeWindow($event, 'terminal'); false"/></span>
        </h5>
      </div>
        <div class="panel-body" id="terminal">
          <form (ngSubmit)="command(this.inputCommand)">
            <ul class="cmdList">
              <li>Type 'help' to see available commands or click a shortcut.</li>
              <li *ngFor="let line of cmdLines" [innerHTML]="line"></li> 
              <li>
                <label class="prompt" [hidden]="loading" for="query">{{prompt}}</label>
                <input type="text" id="query" name='query' autocomplete="off" autofocus [(ngModel)]="inputCommand" (keypress)="keyHandler($event)" />
              </li>
            </ul>
          </form>
      </div>
    </div>
  </label>
    <div class="notepad panel panel-default" [ngClass]="{onTop: notes.onTop, closed: notes.closed, minimized: notes.minimized, maximized: notes.maximized}" (click)="toTop('notes')">
      <div class="panel-heading" (click)="commandWindowOpen = !commandWindowOpen">
        <h5 class="panel-title">notepad.exe
          <span class="buttons pull-right"><img src="/assets/minimize-button.jpg" (click)="minimizeWindow($event, 'notes')" /><img src="/assets/maximize-button.jpg" (click)="maximizeWindow($event, 'notes')" /><img src="/assets/close-button.jpg" (click)="closeWindow($event, 'notes')"/></span>
        </h5>
      </div>
      <div class="notes">
        <app-note *ngFor="let note of notesData" [note]="note"></app-note>
      </div>
    </div>
  </div>
