input{
	min-width: 55%;
	background: #111111;
	border: none;
	outline: none;
}

ul li{
	text-decoration: none;
	list-style: none
}

label{
	color: rgb(6, 215, 6);
	
}

.terminal{
/* 	max-height: 150px;
	overflow-y: scroll;
	position: fixed;
	width:100%; */
}

.bandos{
/* 	padding-top: 100px; */
}