div.indent{
	padding-left: 2em;
	border-left: 9px dotted #ccc;
}

div.indent.small{
	border-left: 6px dotted #ccc;
}

.content{
	padding-top:.5em;
}

div.crowd-up{
	margin-top: -2em;
}

h2.heavy{
	padding:.5em; 
	font-size: 22pt;
	line-height: 1em;
}
.img-thumbnail{
	margin: 1em;
	width:30%;
	max-width: 200px;
}

.heavy{
	text-shadow: 
	-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 
	-1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;
}
h1,h2,h3,.indent,.category{
	padding: 0;
	margin: 0;
}