<div>
  <h2 class="heavy">&#123;</h2>
  <div class="indent">
    <div class="crowd-up">
        <h1>{{note.title}}: <span class="heavy">&#123;</span></h1>
        <div class="indent">
            <div class="content" [innerHtml]="note.content"></div>
        </div>},
        <div class="metadata">metadata : &#123;</div>
        <div class="indent small">
            <div class="image">&#123; image : {{note.image||'[Not found]'}} },</div>
            <div class="link">&#123; link : {{note.link||'[Not found]'}} },</div>
            <div class="category">&#123; category : {{note.category}} }</div>    
        </div>
      </div>}
    </div>
    <h3>},</h3>  
</div>