<div>
  <h2 class="heavy">&#123;</h2>
  <div class="indent">
    <div class="crowd-up">
        <h1>{{note.title}}: <span class="heavy">&#123;</span></h1>
        <div class="indent">
            <a *ngIf="note.link" [href]="note.link" target="_blank"><img *ngIf="note.image" [src]="note.image.url" class="img-thumbnail" /></a>
            <img *ngIf="!note.link && note.image" [src]="note.image.url" class="img-thumbnail" />
            <div class="content" [innerHtml]="note.content"></div>
        </div>},
        <div class="metadata">metadata : &#123;</div>
        <div class="indent small">
            <div class="link">&#123; link : {{note.link||'[Not found]' | json}} },</div>
            <div class="category">&#123; category : {{note.category | json}} }</div>    
        </div>
      </div>}
    </div>
    <h3>},</h3>  
</div>