/* You can add global styles to this file, and also import other style files */
html, body, app-root, app-pages{
	height: 100%;
}

body{
	background-image: url('/assets/desktop-background.jpg');
	background-size: cover;
}

