/* You can add global styles to this file, and also import other style files */
body{
	font-family: Consolas, 'Courier New', monospace;
	background-color: #111111;
	color: rgb(6, 158, 6);
	overflow-y: scroll;
	background-image: url('/assets/desktop-background.jpg');
	background-size: cover;
}

